/* Estils específics per a la graella d'activitats */
.main-activitats {
    padding: 100px 10%;
    min-height: 100vh;
}

.seccio-tema {
    margin-bottom: 60px;
}

.titol-seccio {
    font-size: 2rem;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    display: inline-block;
}

.grid-activitats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.card-activitat {
    background-color: #111; /* Fons fosc */
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card-activitat:hover {
    transform: translateY(-5px);
    border-color: var(--vermell);
    box-shadow: 0 5px 15px #ff646726;
}

.card-activitat:hover h3 {
    color: var(--vermell);
}

.card-activitat h3 {
    margin-top: 0;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #fff;
    transition: color 0.3s;
}

.llista-activitats {
    list-style: none;
    padding: 0;
    margin: 0;
}

.llista-activitats li {
    margin-bottom: 8px;
}

.llista-activitats a {
    text-decoration: none;
    color: #888;
    display: block;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.03);
    transition: all 0.2s;
    font-size: 0.9rem;
}

.llista-activitats a:hover {
    background-color: var(--vermell);
    color: white;
    padding-left: 15px;
}