:root {
    --bg-fosca: #0a192f;
    --bg-header: #0a192fd9;
    --vermell: #ff6467;
    --text-clar: #ccd6f6;
    --text-gris: #8892b0;
    --font-mono: 'SF Mono', 'Fira Code', monospace;
    --transicio: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #0a192f;
}

h1 {
    color: var(--text-clar);
}

h2, p {
    color: var(--text-gris);
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 50px;
    background-color: var(--bg-header);
    backdrop-filter: blur(10px);
    z-index: 1000;
    box-sizing: border-box; 
}

footer {
    text-align: center;
    padding: 20px 0;
    color: var(--text-gris);
    font-family: var(--font-mono);
    font-size: 15px;
}

.menu-superior {
    display: flex;
    list-style: none;
    gap: 30px; 
    margin-top: 20px;     
    padding: 0;     
    align-items: center;
}

.main-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0 150px;
    max-width: 1000px;
    margin: 0 auto;
}

.li-menu-superior {
    text-decoration: none;
    color: var(--text-gris);
    font-family: var(--font-mono);
    font-size: 13px;
    transition: var(--transicio);
    display: flex;
    align-items: center;
}

.li-menu-superior:hover {
    background-color: var(--vermell);
    transition: all 0.3s ease;
    color: #ffffff;
    font-weight: bold;
}

.contenidor-titol-logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.titol {
    color: var(--text-clar);
    font-family: var(--font-mono);
    font-size: 1.2rem;
}

.text-rosa {
    color: var(--vermell);
}

.boto-cv {
    display: inline-block;
    padding: 7px 20px;
    background-color: var(--bg-fosca);
    color: var(--vermell);
    border: 1px solid var(--vermell);
    border-radius: 4px;
    text-decoration: none;
    font-family: var(--font-mono);
    font-size: 14px;
    box-shadow: 0px 0px 0px 0px var(--vermell);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.boto-cv:hover {
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 0px 0px var(--vermell); 
    background-color: var(--bg-fosca);
}

.lateral-fix {
    position: fixed;
    bottom: 0;
    width: 40px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerra { left: 40px; }
.dreta { right: 40px; }

.linia {
    width: 1px;
    height: 90px;
    background-color: var(--text-gris);
    margin-top: 20px;
}

.linia-horitzontal-subtitol {
    text-align: right;
    width: 100px;
    height: 1px;
    background-color: var(--text-gris);
}

.icones-socials a {
    display: block;
    padding: 10px;
}

.icones-socials a:hover{
    filter: invert(53%) sepia(68%) saturate(3015%) hue-rotate(324deg) brightness(101%) contrast(100%);
    transform: translateY(-3px);
    transition: filter 1s ease-in-out;
    transition: transform 0.25s ease-in-out;
}


.email-vertical a {
    font-family: var(--font-mono);
    font-size: 15px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    text-decoration: none;
    color: var(--text-gris);
    transition: var(--transicio);
}

.email-vertical a:hover {
    color: var(--vermell);
    transform: translateY(-3px);
}


.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 9999;
    background: radial-gradient(
        500px circle at var(--x) var(--y), 
        #ff646726, 
        transparent 80%
    );
}